---
import type {CollectionEntry} from 'astro:content';
interface Props {
    project: CollectionEntry<'project'>;
}

// `post` will match your 'blog' collection schema type
const {project} = Astro.props;

import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from '@/components/ui/card'
import {Button} from "@/components/ui/button";
---

<Card>
    <CardHeader>
        <CardTitle class="text-accent-foreground">{project.data.title}</CardTitle>
    </CardHeader>
    <CardContent>
        <p>{project.data.description}</p>
        <Button variant="secondary" class="mt-3"><a href={`/projects/${project.data.slug}`}>View project</a></Button>
    </CardContent>
</Card>