---
import type {CollectionEntry} from 'astro:content';
interface Props {
    project: CollectionEntry<'project'>;
}

// `post` will match your 'blog' collection schema type
const {project} = Astro.props;

import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from '@/components/ui/card'
import {Button} from "@/components/ui/button";
import {BookOpenIcon} from "lucide-vue-next";
---

<Card>
    <CardContent>
        <h2 class="mb-3 text-accent-foreground text-xl">{project.data.title}</h2>
        <p>{project.data.description}</p>
    </CardContent>
    <CardFooter>
        <Button variant="secondary" class="mb-0">
            <BookOpenIcon/>
            <a href={`/projects/${project.data.slug}`}>View project</a>
        </Button>
    </CardFooter>
</Card>