---
import type {CollectionEntry} from 'astro:content';
interface Props {
    project: CollectionEntry<'project'>;
}

// `post` will match your 'blog' collection schema type
const {project} = Astro.props;

import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from '@/components/ui/card'
import {Button} from "@/components/ui/button";
import {BookOpenIcon} from "lucide-vue-next";
---

<Card>
    <CardHeader>
        <CardTitle class="text-accent-foreground text-2xl">{project.data.title}</CardTitle>
    </CardHeader>
    <CardContent>
        <p>{project.data.description}</p>
    </CardContent>
    <CardFooter>
        <p class="text-primary/50 w-full">Created at: {project.data.created_at.toDateString()}</p>
        <Button variant="secondary" class="mb-0">
            <BookOpenIcon/>
            <a href={`/projects/${project.data.slug}`}>View project</a>
        </Button>
    </CardFooter>
</Card>